table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;

    td, th {
        border: 1px solid #000000;
        height: 4rem;
        padding: 0.3rem 0;
    }

    td {
        text-align: center;
        vertical-align: top;
        transition: all .2s;

        &.disabled {
            opacity: .5;
        }

        &.active {
            color: var(--primary-color);
            font-weight: bold;
        }
    
        &.selected {
            color: blue;
            background: rgba(33, 33, 255, 0.185);
        }

        &:hover:not(.disabled) {
            background: #eeeeee;
            cursor: pointer;
        }
    }
}